:root {
    --light-gray:#a2aec1;
    --light-green:#4F9D67;
    --dark-green:#105E28;
}

.contact_icons a{
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

a:hover {
    color: black;
}

body {
  background-color: var(--light-gray);
  background: linear-gradient(to bottom right, var(--light-gray), #e19be8);
}

.bg-lg {
  background-color: var(--light-green);
}

.bg-dg {
  background-color: var(--dark-green);
}

.home {
  height: 100vh;
}

.particles {
  position: absolute;
  width: inherit;
}

.head {
  text-align: center;
}