
/* Dirty hacks */
.row {
  padding: 0;
  margin: 0;
}

.bg-image {
  background-image: url(res/bg.JPG);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: black;
  color: white;
}

.bg-sin {
  background-image: url(res/sin_graph.png);
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-twit {
  background-image: url(res/bot_showcase.png);
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fa {
  color: white;
  padding: 10px;
}

.social-wrapper a{
  text-decoration: none;
  font-size: 1.5rem;
}

.project-wrapper a{
  color: white;
}